/* App.css */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}



.game-title {
  text-align: center;
  padding: 20px;
  /* background-color: #f0f0f0; */
  border-radius: 5px;
  margin-bottom: 20px;
}

.game-title > div > h1 {
  background-color:  #ffffff;
}
.game-title > div {
  margin-bottom: 10px;
  font-size: 18px;
}

.game-title button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.game-title button:hover {
  background-color: #0056b3;
}




.game-board {
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  background-color: #f0f0f0;
  padding: 10px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #f0f0f0;
}

.game-info {
  margin-top: 20px;
  text-align: center;
}

.status {
  font-size: 24px;
  font-weight: bold;
}

/* Add more styles as needed */
